<%- include('partials/head') -%>
    <!--
    I am not including card information in the DB reading on site as that is security risk and bad practice in general.
    -->
    <div class="wrapper">
        <h1><%= title %></h1>
        <div class="ra-r"></div>
        
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Client ID</th>
                    <th>Client Name</th>
                    <th>Date & Time of Session</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < sessionlist.length; i++) { %>
                <tr>
                    <td><%= sessionlist[i].ID %></td>
                    <td><%= sessionlist[i].name %></td>
                    <td><%= sessionlist[i].DateTime %></td>
                    
                    <td>
                        <!-- Using a anchor not form because using a get method not 2 post methods. Following RESTful technique-->
                         <div class="secret">
                            <form action="/view/delete" method="post"> <input type="hidden" value="<%= sessionlist[i]._id%>" name="_id"><button type="Submit"><span></span>Delete</button></form>
                            <a href="/view/update/<%=sessionlist[i]._id%>"><button type="button"><span></span>Update</button></a>
                        </div>
                    </td>    
                </tr>
                <% } %>
            </tbody>

        </table>

    </div>
    
<%- include('partials/foot') -%>